
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.submit-area {
	width: 90%;
}
.container {
	padding-bottom: 6%;
}
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
	.submit-area {
	width: 90%;
}
.container {
	padding-bottom: 6%;
}
   #currentBalance {
	font-size: 24px;
	position: absolute;
	top: 56px;
}
    .input-area {
	padding: 13px;
}
.container {
	padding-bottom: 12%;
}
#depositAmount::placeholder, #withdrawAmount::placeholder {
	font-size: 14px;
}

#currentDeposit, #currentWithdraw {
	font-size: 23px;
	position: absolute;
	top: 58px;
	left: 71px;
}

 }

@media (min-width: 576px) and (max-width: 767.98px) {
	#login-area h1 {
	font-size: 33px;
}
.submit-area {
	width: 100%;
}

.status {
	width: 118%;
	height: 86%;
	padding: 7px;
}
.status h2 {
	font-size: 18px;
}
 #currentDeposit, #currentWithdraw {
	font-size: 23px;
	position: absolute;
	top: 35px;
	left: 55px;
}
    .input-area {
	padding: 9px;
	width: 106%;
	margin-left: 10%;
}
.container {
	padding-bottom: 12%;
}
#depositAmount::placeholder, #withdrawAmount::placeholder {
	font-size: 8px;
}

#currentDeposit, #currentWithdraw {
	font-size: 23px;
	position: absolute;
	top: 35px;
	left: 55px;
}

	#currentBalance {
	font-size: 24px;
	position: absolute;
	top: 34px;
	left: 50px;
}
}


@media (min-width: 480px)and (max-width: 575.98px){
	#login-area h1 {
	font-size: 33px;
}
.submit-area {
	width: 100%;
}

.status {
	width: 100%;
	height: 92%;
	padding: 7px;
}
.status h2 {
	font-size: 19px;
	position: absolute;
	top: 9px;
	left: 164px;
}
 #currentDeposit, #currentWithdraw {
	font-size: 23px;
	position: absolute;
	top: 35px;
	left: 55px;
}
    .input-area {
	padding: 9px;
	width: 100%;
	margin-left: 14px;
	margin-bottom: 6%;
}

#depositAmount::placeholder, #withdrawAmount::placeholder {
	font-size: 13px;
}

#currentDeposit, #currentWithdraw {
	font-size: 23px;
	position: absolute;
	top: -2px;
	left: 17px;
}

	#currentBalance {
	font-size: 24px;
	position: absolute;
	top: -3px;
	left: 14px;
}
body {
	padding: 25px 100px 0px 100px;
}
.container {
	padding-bottom: 6%;
}
}

@media (min-width: 320px)and (max-width: 479.98px){
	#login-area h1 {
	font-size: 20px;
}
.submit-area {
	width: 168%;
	margin-left: -34%;
}

.status {
	width: 188%;
	height: 88%;
	padding: 7px;
	margin-left: -44%;
}
.status h2 {
	font-size: 19px;
	position: absolute;
	top: 6px;
	left: 59px;
}
 #currentDeposit, #currentWithdraw {
	font-size: 23px;
	position: absolute;
	top: 35px;
	left: 55px;
}
   .input-area {
	padding: 6px;
	width: 188%;
	margin-left: -44%;
	margin-bottom: 14%;
}

input::placeholder{
	font-size: 10px;
}

#depositAmount::placeholder, #withdrawAmount::placeholder {
	font-size: 9px;
}

#currentDeposit, #currentWithdraw {
	font-size: 23px;
	position: absolute;
	top: -2px;
	left: 17px;
}

	#currentBalance {
	font-size: 24px;
	position: absolute;
	top: -3px;
	left: 14px;
}
body {
	padding: 25px 100px 0px 100px;
}
.container {
	padding-bottom: 6%;
}

.status h5 {
	font-size: 17px;
}
}

@media (min-width: 240px) and (max-width: 319.98px){
	
}